<hr class="topbar"/>

<div class="container">
    <div class="row">


        <div class="col-md-12">

            <h1>Terms and conditions</h1>
            <hr />
            <!-- Headings & Paragraph Copy -->
            <div class="row">

                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Introduction</h3>
                     <p>
                        These are the Terms of Use (“TOU”) under which you may use lankajobpost.com (“Site”). By using the Site you indicate your agreement to these TOU and Privacy Policy. Please read this page carefully. If you do not  accept the TOU stated here, do not use the Site.
                     </p>
                </div>

                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">lankajobpost.com’s Liability</h3>
                    <p>
                    lankajobpost.com provides an online job portal, intended to act as a marketplace for “job seekers” and “job providers” through web. lankajobpost.com has no obligation to screen or censor any of the Site’s content, nor is the service responsible for the actual transaction between employers and job seekers. Thus, lankajobpost.com has no control over the quality or legality of the jobs or job seeker qualifications posted.  The service makes no representations about the truthfulness of any jobs posted, job seeker information or user content on the Site, and encourages all employers to conduct their own investigation as to a job seeker’s suitability for employment and trustworthiness.
                    </p>
                    <p>
                    The Site may contain inaccuracies or typographical errors. The service makes no representations about the accuracy or completeness of its content. lankajobpost.com is not to be considered an employer and shall not be responsible for any employment decisions, for whatever reason made, made by any entity posting jobs on the Site. It cannot guarantee that any job seeker will be exactly what any employer wants, or that the job seeker will perform as required.  No advice or information obtained by a user from the Site shall create any warranty whatsoever.
                    </p>
                    <p>
                    Please note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, underage persons or people who misrepresent themselves online. When you use our Site you assume all risks associated with dealing with other users with whom you come in contact through our Site. By its very nature, other people’s information may be offensive, harmful, inaccurate, or untrue. Please be careful when using our, and other online, sites.
                    </p>
                    <p>
                    User authentication on the Internet is impossible and therefore lankajobpost.com does not warrant that each user is who they claim to be. Since the service is not, and cannot be involved in user-to-user dealings or control the behavior of the participants on the Site, in the event that you have a dispute with one or more users, you release lankajobpost.com (and our agents, employees and sister concerns) from claims and damages (whether actual and consequential, direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.
                    </p>
                    <p>
                    You acknowledge and agree that you are solely responsible for the form, content and accuracy of any material placed by you, or anyone representing you, on the Site, and that you are 18 years of age or above. You also represent and warrant to the service that you will use the Site in a manner consistent with any and all applicable laws and regulations. lankajobpost.com in no way either represents or guarantees the accuracy, reliability or the truthfulness of any User content. You hereby acknowledge that any dependence placed upon the posts made by other Users is done entirely at your own risk.
                    </p>
                </div>


                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Permitted Uses Of Our Site</h3>
                    <p>You have the following rights to the Site: </p>
                    <ul>
                    <li>To post job openings and search job availability</li>
                    <li>To socially network with other Site users</li>
                    </ul>
                    <p>All content is the property of lankajobpost.com, and all content is protected by applicable trademark laws, both Srilankan and foreign.  You may not sell or modify the Site’s content for any public or commercial use. The use of the Site’s content on any other web site or in a networked computer environment for any purpose is also expressly prohibited.
                    </p>
                </div>



                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Prohibited Uses of Our Site</h3>
                    <p>Users are prohibited from violating the security of the Site by engaging in the following: </p>
                    <ul>
                    <li>Accessing data not intended for such user or logging into an account which the user is not authorized to access</li>
                    <li>Attempting to test the vulnerability of a system or to breach any security or authentication measures</li>
                    <li>Attempting to overload, spam, or crash the Site by means of a “virus” or other software “attack” upon the Site’s integrity.  Any attempted Site violations may result in civil or criminal liability, and the service will prosecute users who are involved in such violations.</li>
                    </ul>

                    <p>Users may not use the Site in order to transmit, or store material;</p>
                    <ul>
                    <li>in violation of any applicable law or regulation,</li>
                    <li>in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others,</li>
                    <li>that is defamatory, obscene, threatening, abusive or hateful, or</li>
                    <li>in a manner which jeopardizes Srilanka’s national security,  contributes to social unrest, or sectarian violence.</li>
                    </ul>

                    <p>All users agree not to engage in any activity which seeks to take advantage of or exploit other users of the Site, or of the Site itself. This prohibited behavior includes, but is not limited to, the following:</p>
                    <ul>
                    <li>Offering business or sales opportunities</li>
                    <li>Offering jobs from competitors of lankajobpost.com</li>
                    <li>Posting any inaccurate or misleading content on the Site</li>
                    <li>Sending any unsolicited offer to the Site users</li>
                    <li>Deleting any content or posting of other users</li>
                    <li>Engaging in any behavior which has the effect of degrading the performance of the Site</li>
                    <li>Reverse engineering any portion of the Site</li>
                    <li>Using or inserting  a personal or corporate URL, web link, or email address, into any portion of the Site (except where specifically requested by the Site)</li>
                    <li>Duplicating,  posting, or linking any Site content to other sites not belonging to the service</li>
                    </ul>
                    <p>Users may not use the Site to transfer any money in violation of the any applicable law or regulation.
                    </p>
                </div>




                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Prohibited Content on Our Site</h3>
                    <p>Any content which is offensive, dangerous, invades the privacy of others, or is unlawful is prohibited from the Site. This includes, but is not limited to, the following:</p>
                    <ul>
                    <li>Pornography</li>
                    <li>Solicitation of illegal activities</li>
                    <li>Racial, religious, or ethnic slurs</li>
                    <li>Incitement to violence against any individual for whatever reason</li>
                    <li>The sending of junk mail or spam</li>
                    <li>Violating or advocating the violation of copyrighted works</li>
                    <li>Releasing private information of another user without their consent</li>
                    <li>Providing information or instruction about illegal activities</li>
                    <p>Please report any abuse of our site to 0800-11582.</p>
                     </ul>
                </div>




                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Our Use of Your Registration Information and Content</h3>
                    <p>You understand and agree that lankajobpost.com may disclose to third parties, on an anonymous basis, certain aggregate information contained in your registration screen. Without your prior consent it will not disclose to any third party your name, address, e-mail address or telephone number, except to the extent necessary to comply with applicable laws or in legal proceedings where such information is relevant.</p>
                    <p>We reserve the right to contact you via email to measure your satisfaction with our Site, and in the case of employers, to determine the performance of any job seeker you hired through the Site.</p>
                    <p>You are solely responsible for all the content you post on the Site, and you warrant that you have the right to all this content.  When you post this content on the Site you give us a non-exclusive right to do whatever we wish with this information, subject to the restrictions in the preceding paragraph.</p>
                </div>




                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Violation of the Terms of Use</h3>
                     <p>Although not responsible for screening or monitoring user content, lankajobpost.com may review and delete any content that violates these Terms of Use, violates applicable law, rule or regulation, is offensive or illegal, violates the copyrights of another, or violates the rights of, harms or threatens the safety of users of the Site. If you engage in prohibited behavior we will expel you from the Site, and restrict your further access, and if appropriate, institute legal action against you. We will also remove your content from the Site.
                     </p>
                </div>




                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Unsolicited Ideas</h3>
                     <p>You are always welcome to provide us with your opinion as to the quality of our services, however, please do not send us any creative ideas, suggestions or other materials.  Unfortunately, in the past other companies have been sued for patent infringement by individuals who provided the company with unsolicited ideas which the company later adopted. Therefore, it is our stated policy that we will not accept or consider creative ideas provided by our users.  If you do provide us with such materials, please be advised that all such ideas will become the property of lankajobpost.com, and we incur no obligation to you, and can use all such ideas without compensation.
                     </p>
                </div>




                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">What To Do If You Suspect Copyright Infringement</h3>
                    <p>If you believe that your copyrighted work is on any of our Site in an infringing manner please provide us with the following:</p>
                    <ul>
                    <li>Identify the material on the Site that you claim is infringing, with enough details so that we may locate it.</li>
                    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
                    <li>
                    <p>A statement by you declaring under penalty of perjury that,</p>
                    <ul>
                    <li>the above information in your Notice is accurate, and </li>
                    <li>that you are the owner of the copyright interest involved or that you are authorized to act on behalf of that owner.</li>
                    </ul>
                    </li>
                    <li>Your address, telephone number, and email address.</li>
                    <li>Your physical or electronic signature.</li>
                    </ul>
                    <p>lankajobpost.com will remove the infringing posting(s). If you have a copyright related inquiry, please contact: </p>
                    <p>
                    <strong>
                    support@lankajobpost.com
                    </strong>
                    </p>
                </div>



                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Disclaimer of Warranty</h3>
                    <p>lankajobpost.com does not warrant that our Site will operate error-free or that our Site are free of computer viruses or other harmful mechanisms. If your use of any Site’s content results in the need for servicing or replacing equipment or data, the company is not responsible for those costs. The Site is provided on an "as is" basis without any warranties of any kind. The service, to the fullest extent permitted by law, disclaims all warranties, whether express or implied, including the warranty of merchantability, fitness for particular purpose and non-infringement. The service makes no warranties about the accuracy, reliability, completeness, or timeliness of the Site’s content, services, software, text, and graphics.</p>
                </div>



                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Disclaimer of Consequential Damages</h3>
                  <p>In no event shall lankajobpost.com, its suppliers, its sister concern or any third parties mentioned on the Site be liable for any damages whatsoever (including, without limitation, incidental and consequential damages, lost profits, or damages resulting from lost data or business interruption) resulting from the use or inability to use the Site and its content, whether based on warranty, contract, tort, or any other legal theory, and whether or not the service is advised of the possibility of such damages.</p>
                </div>



                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Indemnity</h3>
                   <p>You agree to indemnify and hold lankajobpost.com, its officers, subsidiaries, affiliates, successors, assigns, directors, agents, service providers, suppliers and employees harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of content you submit, post or make available through the Site, or your use thereof, your violation of the TOU, your breach of any of the representations and warranties herein, or your violation of any rights of another.</p>
                </div>



                <div class="col-md-12">
                    <h3 style="text-decoration:underline;">General</h3>
                    <p>Be sure to refer to the TOU regularly, since they change, and they do govern your relationship to lankajobpost.com. The TOU constitute the entire agreement between you and lankajobpost.com and govern your use of the service. The TOU and the relationship between you and the service shall be governed by the laws of SriLanka without regard to its conflict of law provisions. The failure of the service to exercise or enforce any right or provision of the TOU shall not constitute a waiver of such right or provision. If any provision of the TOU is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOU remain in full force and effect.</p>
                </div>


                 <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Privacy Policy</h3>
                    <p>
                    lankajobpost.com is committed to protect your privacy. By accepting the Privacy Policy and our Terms of Use when you register, you expressly agree to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy.  This Privacy Policy is effective upon acceptance for new users.
                    </p>

                    <p>
                    We collect personal information from our users including, name, address, telephone numbers, and email addresses. We may also collect transactional information based on your activities on our sites. We also collect demographic information about you.  Our web logs collect standard web log entries for each page served, including your IP address, page URL and timestamp. This information helps us provide service to you.
                    </p>

                    <p>The information collected by us is used to provide the service(s) or carry out the transaction(s) you have requested or authorized. We don’t sell or rent your personal information to third parties without your express consent. </p>
                    <p>In support of these uses, lankajobpost.com may use information collected from you to provide you with more effective customer service, to improve the website and to make the website easier to use by eliminating the need for you to repeatedly enter the same information or by customizing the website to your particular preference or interests.</p>
                    <p>lankajobpost.com may disclose personal information if required to do so by law or in the good faith that such action is necessary to (a) conform to the edicts of the law or comply with legal process served on lankajobpost.com; (b) protect and defend the rights or property of the service and its sister concerns if any; or (c) act in urgent circumstances to protect the personal safety of lankajobpost.com employees or agents, users of its products or services, or members of the public.</p>

                    <p>We employ commercially reasonable technical measures to secure your personal information from loss or unauthorized access.  However,cannot be held liable in case of unauthorised use of you collected information by ither users of the site. </p>

                    <p>Regrettably, from time to time, false information is listed online and used to illegally collect personal information from other users of the service. The placement of such false information is a violation of the Terms of Use and may also be a criminal violation of federal law.</p>


                </div>



                 <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Refund Policy</h3>
                     <p>lankajobpost.com is committed towards achieving 100% customer satisfaction. If you are not 100% satisfied with job listing, please contact us within 14 days of job posting and we will fully refund the cost of your job listing.</p>
                </div>





                 <div class="col-md-12">
                    <h3 style="text-decoration:underline;">Giveaway Terms & Conditions</h3>
                     <p>lankajobpost.com reserves the right to amend, alter or cancel the giveaway promotion at any time without providing any notice to any parties concerned. Neither lankajobpost.com, nor any affiliates will have any liability whatsoever for any injuries, losses or damages of any kind caused by any prize or resulting from acceptance, possession, use and/or misuse of any prize or participation in these promotions.</p>

                     <p>The giveaway promotion is open to legal residents of Srilanka who are 18 years or older at the time of registration. Participant must register, and complete their resume on lankajobpost.com which must contain their active cell number and email address. The email address used at the time of registration will be used to contact the winners.</p>

                      <p>By participating in this promotion, all entrants agree to be bound by the decisions of lankajobpost.com regarding winner selection procedure and outcome. Those decisions will be final and binding in all respects.  Acceptance of a prize shall be construed as and signify the winner’s agreement and consent that lankajobpost.com or the Sponsor may use the winner’s name, photograph, testimonial, likeness and/or prize information, without limitation, for promotional purposes without further consideration, review, approval or payment. Odds of winning prize is dependent upon the total number of eligible entries recieved. Winners will be required to prove their identity by providing their passport size photograph along with the copy of their NIC. Winner will have 72 hours to claim their prize by sending the requirement documents or a new winner will be selected. Instructions on how to claim prize will be sent on the email address that was used during registration.  </p>

                      <p>Neither lankajobpost.com nor any affiliate is responsible for electronic transmission errors resulting in omission, interruption, deletion, defect, delay in operations or transmission or alterations of entry materials, or for technical, network, telephone equipment, electronic, computer, hardware or software malfunctions or limitations of any kind, or inaccurate transmissions of or failure to receive entry information by lankajobpost.com or affiliate on account of technical problems or traffic congestion on the Internet or at any website or any combination thereof. If, for any reason, the promotions are not capable of running as planned for any reason lankajobpost.com or the affiliate reserves the right to cancel, terminate, modify or suspend the Giveaway and select the winners by random drawing from among all eligible entries received from all methods combined up to the point of the action taken by lankajobpost.com or the affiliate. </p>

                      <p>lankajobpost.com reserves the right of substituting the prize with a similar prize of same approximate value depending on market availaibility. Prizes cannot be substituted for cash. </p>
                </div>


                <!-- Misc Elements -->

            </div><!-- /row -->

        </div>

     </div>
</div><!-- Container -->